.heading{
    text-align: center;
    font-size: 18px;
    margin-top: -15px;
  }
  
  .content{
      font-size: 16px;
      font-family:'Gill Sans', sans-serif;
      letter-spacing: 0.8px;
  }

  .certification-list{
	padding: 20px 0;
  }

  figure{
	display: inline-block;
    max-width: 240px;
    padding: 0px 5px;
  }