.heading{
    text-align: center;
    font-size: 18px;
    margin-top: -15px;
  }
  
  .content{
      font-size: 16px;
      font-family:'Gill Sans', sans-serif;
      letter-spacing: 0.8px;
      margin: 0, auto;
      padding: 1px;
  }

  .contactform{
    border: 2px solid black;
    max-width: 500px;
    margin: auto;
    padding: 8px 4px ;
    text-align: center;
    font-size: 14px;
  }

 /* .formlabel{

  }
  
  .forminput{

    }
*/