@import "~bootstrap/scss/bootstrap";

.prycontainer {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  background-image: url("../images/wallpaper.jpg");
  background-position: 'center';
  background-size: 'cover';
  background-repeat: 'repeat';
  background-attachment: fixed;
  z-index: -11;
}

.content {
  flex-grow: 1;
}
  
.main-content {
  margin: 0 auto;
  width: 100%;
  padding: 3rem 1rem 4rem 0rem;
  //border: 2px solid pink;
}

  
  hr {
    border:none;
    height: 20px;
    width: 90%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 10px; 
  }
